APScheduler==3.6.3
asgiref==3.8.1
cachetools==4.2.2
certifi==2024.12.14
cffi==1.17.1
cryptography==43.0.3
decorator==5.1.1
Django==4.2.18
pycparser==2.22
python-dotenv==1.0.1
python-telegram-bot==13.7
pytz==2024.2
six==1.17.0
sqlparse==0.5.3
tornado==6.4.2
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
